#curriculum-section {
    background-color: black;
    padding: 20px 0 110px 0;
}

.card-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.skill-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card-curriculum-container {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-container-curriculum {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--pf-color-font-secondary);
   
}

.title-container-experience {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    color: var(--pf-color-font-secondary);
    padding-left: 50px; 
}

@media (max-width: 639px) {
    .card-curriculum-container {
        flex-direction: column;
    }
}