.project-container {

}

.text-container {
    display: flex;
    align-items: center;
}

.text-container p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Quicksand";
    margin: 0%;
}

.text-with-icon {
    flex: 1;
}

.text-with-icon a {
    padding: 0px;
    margin: 0px;

}

.text-with-icon img {
    padding-top: 0px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.title-container-project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--pf-color-font-secondary);

}

.project-container h1 {
    color: var(--pf-color-font-secondary);
}

.project-card-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dual-card-container {
    display: flex;
}


@media (max-width: 1024px) {
    .dual-card-container {
        flex-direction: column;
        align-items: center;
    }

}