.skills-card {
    max-width: 800px;
    max-height: 3000px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background-color: var(--pf-color-bg-fourth);
    align-items: center;
    box-shadow: -10px 0px 10px rgba(20, 17, 28, 1), 0px 10px 10px rgba(20, 17, 28, 1); 
}

.skills-card h3 {
    padding: 50px 0 20px 50px;
    font-size: 30px;
    font-weight: 700;
    color: var(--pf-color-font-secondary);

}

.skills-container {
    width: 100%; /* Pode ajustar a largura conforme necessário */
    max-height: 100%; /* Pode ajustar a altura conforme necessário */
    display: grid;
    grid-gap: 32px;
    padding: 17px 0px 17px 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}


@media (max-width: 575px) {

    .skills-card h3 {
        padding: 50px 0 20px 30px;
    
    }

}


