header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: var(--pf-color-bg-secondary);
    color: var(--dsc-color-font-primary);
}

.header-content {
    display: flex;
    align-items: center;
}

h1 {
    padding: 5px;
    margin-right: 15px;
}

.pf-nav-container {
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.black-square {
    width: 15px;
    height: 15px;
    background-color: #000;
}

.activated {
    font-weight: 700;
}


.disabled {
    font-weight: 400;
}