header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    height: 100px;
    background-color: var(--pf-color-bg-fourth);
    color: var(--pf-color-bg-secondary);
}

.pf-header-content {
    display: flex;
    align-items: center;
}

.pf-dev-content {
    display: flex;
    align-items: center;
}

.pf-dev-content h1 {
    margin-right: 5px;
    font-size: 19px;
}

.pf-dev-content a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

h1 {
    padding: 5px;
    margin-right: 15px;
}

.pf-nav-container {
    display: flex;
    gap: 25px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.pf-black-square {
    width: 15px;
    height: 15px;
    background-color: var(--pf-color-bg-secondary);
}

.pf-activated {
    font-weight: 700;
}


.pf-disabled {
    font-weight: 400;
}

nav a {
    text-decoration: none;
    transition: color 0.1s ease; 
  }
  
  nav a:hover {
    color: var(--pf-color-btn-primary); 
  }


@media (max-width: 575px) {

    header {
        flex-direction: column;
    }

    .pf-nav-container {
        gap: 15px;
        font-size: 14px;
    }

    .pf-nav-container .visibility {
        display: none;
    }

}


@media (min-width: 768px) {

    .pf-dev-content h1 {
        font-size: 28px;
    }

    .pf-dev-content p {
        font-size: 18px;
    }

    .dev-content h1 {
        font-size: 24px;
    }

    .dev-content p {
        display: none;
    }


    .pf-nav-container {
        font-size: 14px;
    }


}