.mini-skills-card {
    width: 200px;
    height: 250px;
    background-color: var(--pf-color-bg-primary);
    color: var(--pf-color-bg-secondary);
    border-radius: 10px;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.7);
}

.mini-skills-card h1 {
    font-size: 20px;
    padding: 5px 10px 0px 10px;
    border-bottom: 2px solid var(--pf-color-bg-secondary);
    margin-bottom: 10px;
}

.mini-skills-card p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand';
    padding: 2px;
    margin: 0;
}