.card-curriculum {
    width: 350px;
    height: 325px;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--pf-color-bg-fourth);
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -10px 0px 10px rgba(20, 17, 28, 1), 0px 10px 10px rgba(20, 17, 28, 1);    
}

.centrilize-container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
}

.date {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 8px 0;
    color: var(--pf-color-font-third);
}

.office {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 8px 0;
    color: var(--pf-color-bg-secondary);
}

.company-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--pf-color-bg-secondary);
}

.company-location {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--pf-color-bg-secondary);
}

.text-curriculum {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 4px 0;
}

@media (max-width: 749px) {

    .card-curriculum {
        width: 250px;
        height: 325px;
    }

    .date {
        font-size: 16px;
    }

    .office {
        font-size: 14px;
    }

    .company-name {
        font-size: 14px;
    }

    .company-location {
        font-size: 14px;
    }

    .text-curriculum {
        font-size: 14px;
    }
}


@media (max-width: 639px) {
    .card-curriculum {
        height: 225px;
        border-bottom: 1px solid #dcdcdc;
    }

    .card-curriculum {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}