.pf-card-perfil {
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.7);
    background-color: var(--pf-color-bg-fourth);
    color: var(--pf-color-bg-primary);
}

.pf-card-perfil .pf-content-perfil {
    padding: 20px;
    background-color: var(--pf-color-bg-fifth);
    color: var(--pf-color-bg-secondary);
}
.pf-content-perfil p {
    font-size: 18px;
    font-family: 'Quicksand';
    text-transform: uppercase;
}

.pf-card-perfil img {
    margin: 34px;
    width: 130px;
}

h2 {
    margin: 30px 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

p {
    margin: 10px 0;
}

.pf-footer-card-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.pf-footer-card-perfil img {
    width: 27px;
    margin: 30px 20px 40px;
}

@media (max-width: 575px) {
    .pf-footer-card-perfil img {
        margin: 35px;
    }
}

@media (min-width: 768px) {
    .pf-visibility {
        display: block;
    }
}