@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@400;700&display=swap');

:root {
  --pf-color-bg-primary: #000000;
  --pf-color-bg-secondary: #FFFFFF;
  --pf-color-bg-third: #191522;
  --pf-color-bg-fourth: #121212;
  --pf-color-bg-fifth: #32264f;
  --pf-color-bg-sixth: #8257e6;


  --pf-color-card-bg: #000000;
  --pf-color-card-border: #FFFFFF;

  --pf-color-btn-primary: #8257e6;
  --pf-color-btn-inverse: #FFFFFF;

  --pf-color-font-primary: #000000;
  --pf-color-font-secondary: #FFFFFF;
  --pf-color-font-third: #8257e6;
  --pf-color-font-fourth: #9b7cff;
  

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Quicksand", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  min-height: 100vh;
  /* Garante que o corpo da página ocupa pelo menos toda a altura da viewport */
  background: linear-gradient(to right, var(--pf-color-bg-third) 40%, var(--pf-color-bg-fourth) 35%);
}

main {
  padding: 0 0px;
}


/*-----------------------------------------------------------------*/
/* generic styles */

.pf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.pf-mb20 {
  margin-bottom: 20px;
}

.pf-mt20 {
  margin-top: 20px;
}

.pf-section-title {
  text-align: center;
  color: var(--dsc-color-font-primary);
  font-size: 16px;
}

.pf-txt-left {
  text-align: left;
}

.pf-visibility {
  display: none;
}

.square {
  width: 18px;
  height: 18px;
  background-color: var(--pf-color-bg-secondary);
}

.rectangular {
  width: 10px;
  height: 70px;
  background-color: var(--pf-color-font-fourth);
}

.dual-card-container {
  display: flex;
}


/*-----------------------------------------------------------------*/
/* container styles */

.pf-btn-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  grid-gap: 15px;
}

.pf-btn {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 576px) {
  .pf-section-title {
    text-align: left;
    font-size: 24px;
  }
}

@media (max-width: 600px) {

  html,
  body {
    background: linear-gradient(to bottom, var(--pf-color-bg-third) 45%, var(--pf-color-bg-fourth) 35%);
  }
  
}

